In [1]:
import requests
import lxml
from lxml import html
import numpy as np 
import pandas as pd

In [5]:
income_url= "https://finance.yahoo.com/quote/AAPL/financials?p=AAPL"
balance_url= "https://finance.yahoo.com/quote/AAPL/balance-sheet?p=AAPL"
cash_url= "https://finance.yahoo.com/quote/AAPL/cash-flow?p=AAPL"

In [18]:
def get_raw_table(url):
	page= requests.get(url)
	tree= html.fromstring(page.content)
	table= tree.xpath('//table')
	tstring= lxml.etree.tostring(table[0], method= 'html')
	df= pd.read_html(tstring)[0]
	return df

In [4]:
def process_table(df):
	df= df.set_index(0)
	df= df.dropna()
	df= df.transpose()
	df[df.columns[0]] = pd.to_datetime(df[df.columns[0]])
	df.set_axis(axis= 1, labels= df.columns)
	df = df.replace('-', '0')
	numeric_columns = list(df.columns)[1::]
	df[numeric_columns] = df[numeric_columns].astype(np.float64)
	return df

In [6]:
income_df= get_raw_table(income_url)
income_df= process_table(income_df)

balance_df= get_raw_table(balance_url)
balance_df= process_table(balance_df)

cash_df= get_raw_table(cash_url)
cash_df= process_table(cash_df)

In [7]:
income_df.head(2)

,Revenue,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Non Recurring,Others,Total Operating Expenses,Operating Income or Loss,...,Income Tax Expense,Minority Interest,Net Income From Continuing Ops,Discontinued Operations,Extraordinary Items,Effect Of Accounting Changes,Other Items,Net Income,Preferred Stock And Other Adjustments,Net Income Applicable To Common Shares
1,2018-09-29,265595000.0,163756000.0,101839000.0,14236000.0,16705000.0,0.0,0.0,194697000.0,70898000.0,...,13372000.0,0.0,59531000.0,0.0,0.0,0.0,0.0,59531000.0,0.0,59531000.0
2,2017-09-30,229234000.0,141048000.0,88186000.0,11581000.0,15261000.0,0.0,0.0,167890000.0,61344000.0,...,15738000.0,0.0,48351000.0,0.0,0.0,0.0,0.0,48351000.0,0.0,48351000.0

In [54]:
def calculate_owc(balance_df):
	curr_assets= balance_df.loc[:, "Total Current Assets"]
	curr_liab= balance_df.loc[:, "Total Current Liabilities"]
	curr_cash= balance_df.loc[:, "Cash And Cash Equivalents"]
	curr_sdebt= balance_df.loc[:, "Short/Current Long Term Debt"]
	res= curr_assets - curr_liab - curr_cash + curr_sdebt
	return res

In [58]:
def get_other_fcf_comp(income_df, cash_df):
	ebit= income_df.loc[:, "Earnings Before Interest and Taxes"]
	income_expense= -1* income_df.loc[:, "Income Tax Expense"]
	before_tax_income= income_df.loc[:, "Income Before Tax"]
	tax_rate= income_expense/before_tax_income
	depreciation= cash_df.loc[:, "Depreciation"]
	capex= cash_df.loc[:, "Capital Expenditure"]
	return ebit, tax_rate, depreciation, capex

In [59]:
def calculate_fcf(income_df, cash_df, balance_df):
    owc= calculate_owc(balance_df)
    ebit, tax_rate, depreciation, capex= get_other_fcf_comp(income_df, cash_df)
    #note capex is already negative
    return ebit*(1-tax_rate) + depreciation + capex - owc

In [60]:
calculate_fcf(income_df, cash_df, balance_df)

1    8.414824e+07
2    6.007592e+07
3    6.225649e+07
4    9.986117e+07
dtype: float64

In [61]:
calculate_owc(balance_df)

1    -2656000.0
2    14038000.0
3    10879000.0
4    -9839000.0
dtype: float64